{% extends "app/base_site.html" %}

{% block title %} 系统授权 {% endblock title %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>系统授权
                  <span id="top_loading" ><img class="top_loading_img" src="/static/images/load.gif" alt="loading">加载中</span>
                  <span id="top_msg">{{top_msg}}</span>
              </h2>

              <div class="clearfix"></div>
            </div>
            <div class="x_content">

              <form class="form-horizontal form-label-left"  method="post"  data-parsley-validate >

                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-md-offset-3">
                      <span>本机MAC：</span> <span id="machine_mac">...</span>
                    </div>
                    <div class="col-md-6 col-sm-6 col-md-offset-3">
                      <span>软件标记：</span><span style="font-size: 14px ;">{{ info.project_flag }}</span>
                    </div>
                </div>

                <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="username">授权码 <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                      <textarea id="ac_active_code" name="active_code" class="form-control" rows="6" placeholder="请输入授权码"></textarea>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-md-6 col-sm-6 col-md-offset-3" style="border: 1px solid #169F85;border-radius: 3px;">

                      <h5>授权码状态：<small id="ac_status">未授权</small></h5>
                    <div>
                        <div class="starrr stars"></div>
                        授权码生效时间： <span id="create_date">无</span>
                      </div>
                       <div>
                        <div class="starrr stars"></div>
                        授权码过期时间： <span id="expire_date">无</span>
                      </div>

                      <div>
                        <div class="starrr stars"></div>
                        授权码有效时长： <span id="expire_hour">无</span>
                      </div>

                      <div>
                        <div class="starrr stars"></div>
                        授权码绑定MAC： <span id="ac_mac">无</span>
                      </div>

                      <div>
                        <div class="starrr stars"></div>
                        授权码绑定标记： <span id="ac_flag">无</span>
                      </div>

                      <div>
                        <div class="starrr stars"></div>
                        授权码备注： <span id="ac_remark">无</span>
                      </div>

                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-6 col-sm-6 col-md-offset-3" style="border: 1px solid #169F85;border-radius: 3px;">
                      <h5>加密锁状态：<small id="dongle_status">未授权</small></h5>
                      <h5>加密锁备注：<small style="font-size: 14px;color: black;" id="dongle_remark">无</small></h5>
                  </div>
                </div>
               <div class="ln_solid"></div>

                  <div class="form-group">
                  <div class="col-md-6 col-md-offset-3">

                    {% if settings.auth_online_link != "" %}
                          <button type="button" onclick="f_link('{{ settings.auth_online_link }}')" class="btn btn-default">申请试用授权</button>
                    {% endif %}
                    {% if settings.auth_buy_link != "" %}
                          <button type="button" onclick="f_link('{{ settings.auth_buy_link }}')" class="btn btn-default">购买永久授权</button>
                    {% endif %}
                     <button type="submit" class="btn btn-dark">激活授权码</button>

                  </div>
                </div>


              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
<script>
    let ele_top_loading = $("#top_loading");
    let ele_top_msg= $("#top_msg");
    let eleMachineMac= $("#machine_mac");
    let eleAcStatus= $("#ac_status");
    let eleAcActiveCode= $("#ac_active_code");
    let eleAcMac= $("#ac_mac");
    let eleAcFlag= $("#ac_flag");
    let eleAcRemark= $("#ac_remark");
    let eleExpireHour= $("#expire_hour");
    let eleCreateDate= $("#create_date");
    let eleExpireDate= $("#expire_date");

    let eleDongleStatus= $("#dongle_status");//加密锁授权状态
    let eleDongleRemark= $("#dongle_remark");//加密锁备注

    function f_link(url) {
        window.open(url);
    }
    function f_showAcInfo(status,mac,flag,remark,expire_hour,create_date_str,expire_date_str) {
        let statusMsg;
        if(-2===status){
            statusMsg = "<span class='sun-state-error'>未授权</span";
        }else if(-1===status){
            statusMsg = "<span class='sun-state-error'>格式不正确</span";
        }else if(0===status){
            statusMsg = "<span class='sun-state-error'>已过期</span";
        }else if(1===status){
            statusMsg = "<span class='sun-state-success'>已授权</span>";
        }else{
            statusMsg ="<span class='sun-state-error'>授权失败</span>";
        }
        eleAcStatus.html(statusMsg)

        if(-1===create_date_str){
            eleCreateDate.html("无")
        }else{
            eleCreateDate.html(create_date_str)
        }
        if(-1===expire_date_str){
            eleExpireDate.html("无")
        }else{
            eleExpireDate.html(expire_date_str)
        }

        if(-1===expire_hour){
            eleExpireHour.html("无")
        }
        else if(0===expire_hour){
            eleExpireHour.html("永久")
        }else{
            // expire_hour单位是int
            let expire_day = expire_hour/24;
            eleExpireHour.html(expire_day+" (天)")
        }
        if(-1===mac){
            eleAcMac.html("无")
        }else{
            eleAcMac.html(mac)
        }
        if(-1===flag){
            eleAcFlag.html("无")
        }else{
            eleAcFlag.html(flag)
        }

        if(-1===remark){
            eleAcRemark.html("无")
        }else{
            eleAcRemark.html(remark)
        }

    }
    function f_showDongleInfo(dongle_status,dongle_remark) {
        let verifyMsg;
        if(0===dongle_status){
            verifyMsg = "<span class='sun-state-error'>未发现加密锁设备</span";
        }else if(1===dongle_status){
            verifyMsg = "<span class='sun-state-success'>已授权</span>";
        }else if(2===dongle_status){
            verifyMsg = "<span class='sun-state-error'>已过期</span";
        }else if(3===dongle_status){
            verifyMsg = "<span class='sun-state-error'>版本标记不支持</span";
        }else if(4===dongle_status){
            verifyMsg = "<span class='sun-state-error'>读取失败</span";
        }else if(5===dongle_status){
            verifyMsg = "<span class='sun-state-error'>增强验证失败</span";
        }else{
            verifyMsg ="<span class='sun-state-error'>未知错误</span>";
        }

        eleDongleStatus.html(verifyMsg)
        eleDongleRemark.html(dongle_remark)

    }
    function f_authOpenIndex() {
        ele_top_loading.show();
        $.ajax({
               url: '/auth/openIndex',
               type: "get",
               async: true,
               data: {},
               dataType: "json",
               timeout: 0,
               error: function () {
                   ele_top_loading.hide();
               },
               success: function (res) {
                    ele_top_loading.hide();

                    if(res.code === 1000){
                        let info = res.info;
                        eleMachineMac.html(info.machineMac);
                        eleAcActiveCode.val(info.acActiveCode)

                        f_showDongleInfo(info.dongleStatus,info.dongleRemark);

                        let acStatus = parseInt(info["acStatus"]);

                        if(acStatus === 1){
                            //授权码已授权

                            let create_date_str = info["create_date_str"];
                            let expire_date_str = info["expire_date_str"];
                            f_showAcInfo(
                                  acStatus,
                                  info["acMac"],
                                  info["acFlag"],
                                  info["acRemark"],
                                  parseInt(info["acExpireHour"]),
                                  create_date_str,
                                  expire_date_str);
                        }else{
                           f_showAcInfo(-2,-1,-1,-1,-1,-1,-1)
                        }
                        //显示机器授权验证结果end
                    }else{
                        eleMachineMac.html("<span class='sun-state-error'>程序异常</span>");
                        myAlert(res.msg,"error");
                    }

               }
            });
    }

    $("form").submit(function () {
        let active_code = eleAcActiveCode.val().trim();
        if(active_code === ""){
            myAlert("请输入授权码", "error");
            return false;
        }
         return true;
    });

    $(function () {
        f_authOpenIndex();
    });
</script>

{% endblock javascripts %}
