{% extends "app/base_site.html" %}

{% block title %} {% if  "add" == handle %}添加{% else %}编辑{% endif %}业务算法 {% endblock title %}

{% block stylesheets %}
  {{ block.super }}

{% endblock stylesheets %}
{% block content %}
<style>
    .algorithm_select{
        border: 1px solid #169F85;
        border-radius: 10px;
    }
</style>
<script>
    let temp;//声明的临时变量
    let modeDict = {};//流程模式字典
    let algorithmDetectDict = {};//检测算法字典
    let algorithmDetect2Dict = {};//第2步检测算法字典
    let algorithmClassifyDict = {};//分类算法字典
    let algorithmTrackDict = {};//特征算法字典
    let behaviourDict = {}; //行为算法字典
</script>

  <div class="right_col" role="main">
    <div class="">

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>{% if  "add" == handle %}添加{% else %}编辑{% endif %}业务算法
                <button style="margin-left:5px;" onclick="f_docs()" class="btn btn-dark btn-sm">文档</button>
              </h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
                  <div class="form-horizontal form-label-left">
                        <div class="form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12">算法编号</label>
                          <div class="col-md-9 col-sm-9 col-xs-12">
                              <span style="height: 34px;line-height: 34px;padding: 6px 0;">{{ flow.code }}</span>
                          </div>
                        </div>

                              <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">算法名称 <span class="required" style="color: red;">*</span></label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" name="name" value="{{ flow.name }}" required="required"  class="form-control">
                  </div>
                </div>

                    <div class="form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12">请选择算法模式 <span class="required" style="color: red;">*</span></label></label>

                         <div class="col-md-6 col-sm-6 col-xs-12">

                            <select id="select_mode"  class="select2_single form-control" required="required" >
                                <option value="0">请选择</option>
                                {% for mode in modes %}
                                   <script>
                                        temp = '{{ mode.id }}';
                                        modeDict[temp] = {
                                            "id":temp,
                                            "name":'{{ mode.name }}',
                                            "code":'{{ mode.code }}'
                                        }

                                    </script>
                                        <option {% if mode.state == 0 %} disabled {% endif %} {% if mode.id == flow.mode %} selected {% endif %} value="{{ mode.id }}">
                                            {{ mode.name }}{% if mode.state == 0 %}（暂不支持）{% endif %}
                                        </option>

                                {% endfor %}
                            </select>

                          </div>
                    </div>

                    <!-- 串行第1步检测算法 -->
                    <div id="flow_box_detect" class="form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12">请选择检测算法 <span class="required" style="color: red;">*</span></label>

                        <div class="col-md-6 col-sm-6 col-xs-12" >

                            <select id="select_algorithm_detect"  class="algorithm_select select2_single form-control" required="required" >
                                <option value="0">请选择</option>
                                {% for algorithm in algorithm_detect_data %}
                                   <script>
                                        temp = '{{ algorithm.code }}';
                                        algorithmDetectDict[temp] = {
                                            "code":temp,
                                            "algorithm_type":'{{ algorithm.algorithm_type }}',
                                            "name":'{{ algorithm.name }}',
                                            "model_class_names":'{{ algorithm.model_class_names }}'
                                        }
                                    </script>

                                    <option {% if algorithm.code == flow.algorithm_detect_code %} selected {% endif %} value="{{ algorithm.code }}">
                                        {{ algorithm.name }}（{{ algorithm.framework }}/{{ algorithm.inference }}/{{ algorithm.inference_device}} ）
                                    </option>

                                {% endfor %}
                            </select>

                          </div>
                    </div>
                    <!-- 串行第1步检测目标 -->
                    <div id="flow_box_detect_class" class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12">请选择检测目标 <span class="required" style="color: red;">*</span></label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <select id="select_detect_class_name"  class="algorithm_select select2_multiple form-control" required="required"  multiple="multiple" >
                            <option value="0">---请选择检测目标(可多选)---</option>
                        </select>
                      </div>
                    </div>
                    <!-- 串行第2步检测算法 -->
                    <div id="flow_box_detect2" class="form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12">请选择第2步检测算法 <span class="required" style="color: red;">*</span></label>

                        <div class="col-md-6 col-sm-6 col-xs-12" >

                            <select id="select_algorithm_detect2"  class="algorithm_select select2_single form-control" required="required" >
                                <option value="0">请选择</option>
                                {% for algorithm in algorithm_detect_data %}
                                   <script>
                                        temp = '{{ algorithm.code }}';
                                        algorithmDetect2Dict[temp] = {
                                            "code":temp,
                                            "algorithm_type":'{{ algorithm.algorithm_type }}',
                                            "name":'{{ algorithm.name }}',
                                            "model_class_names":'{{ algorithm.model_class_names }}'
                                        }

                                    </script>

                                    <option {% if algorithm.code == algorithm_detect2_code %} selected {% endif %} value="{{ algorithm.code }}">
                                        {{ algorithm.name }}（{{ algorithm.framework }}/{{ algorithm.inference }}/{{ algorithm.inference_device}} ）
                                    </option>

                                {% endfor %}
                            </select>

                          </div>
                    </div>
                    <!-- 串行第2步检测目标 -->
                    <div id="flow_box_detect2_class" class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12">请选择第2步检测目标 <span class="required" style="color: red;">*</span></label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <select id="select_detect2_class_name"  class="algorithm_select select2_multiple form-control" required="required"  multiple="multiple" >
                            <option value="0">---请选择检测目标(可多选)---</option>
                        </select>
                      </div>
                    </div>

                    <!-- 串行分类算法 -->
                   <div id="flow_box_classify" class="form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12">请选择分类算法 <span class="required" style="color: red;">*</span></label>

                         <div class="col-md-6 col-sm-6 col-xs-12">

                            <select id="select_algorithm_classify"  class="algorithm_select select2_single form-control" required="required" >
                                <option value="0">请选择</option>
                                {% for algorithm in algorithm_classify_data %}
                                   <script>
                                        temp = '{{ algorithm.code }}';
                                        algorithmClassifyDict[temp] = {
                                            "code":temp,
                                            "algorithm_type":'{{ algorithm.algorithm_type }}',
                                            "name":'{{ algorithm.name }}',
                                            "model_class_names":'{{ algorithm.model_class_names }}'
                                        }

                                    </script>


                                    <option {% if algorithm.code == flow.algorithm_classify_code %} selected {% endif %} value="{{ algorithm.code }}">
                                        {{ algorithm.name }}（{{ algorithm.framework }}/{{ algorithm.inference }}/{{ algorithm.inference_device }}）
                                    </option>


                                {% endfor %}
                            </select>

                          </div>
                    </div>
                    <!-- 串行分类目标 -->
                   <div id="flow_box_classify_class" class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12">请选择分类目标 <span class="required" style="color: red;">*</span></label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <select id="select_classify_class_name" class="algorithm_select select2_multiple form-control" required="required"  multiple="multiple" >
                            <option value="0">---请选择分类目标(可多选)---</option>
                        </select>
                      </div>
                    </div>
                    <!-- 串行特征算法 -->
                   <div id="flow_box_track" class="form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12">请选择特征算法 <span class="required" style="color: red;">*</span></label>
                         <div class="col-md-6 col-sm-6 col-xs-12">
                            <select id="select_algorithm_track"  class="algorithm_select select2_single form-control" required="required" >
                                <option value="0">请选择</option>
                                {% for algorithm in algorithm_track_data %}
                                   <script>
                                        temp = '{{ algorithm.code }}';
                                        algorithmTrackDict[temp] = {
                                            "code":temp,
                                            "algorithm_type":'{{ algorithm.algorithm_type }}',
                                            "name":'{{ algorithm.name }}',
                                            "model_class_names":'{{ algorithm.model_class_names }}'
                                        }

                                    </script>

                                    <option {% if algorithm.code == flow.algorithm_track_code %} selected {% endif %} value="{{ algorithm.code }}">
                                        {{ algorithm.name }}（{{ algorithm.framework }}/{{ algorithm.inference }}/{{ algorithm.inference_device }}）
                                    </option>

                                {% endfor %}
                            </select>
                          </div>
                        </div>
                    <!-- 串行行为算法 -->
                   <div id="flow_box_behaviour" class="form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12">请选择行为算法 <span class="required" style="color: red;">*</span></label>
                         <div class="col-md-6 col-sm-6 col-xs-12">
                            <select id="select_behaviour"  class="algorithm_select select2_single form-control" required="required" >
                                <option value="0">请选择</option>

                                {% for behaviour in behaviours %}
                                   <script>
                                        temp = '{{ behaviour.code }}';
                                        behaviourDict[temp] = {
                                            "code":temp,
                                            "name":'{{ behaviour.name }}'
                                        }
                                    </script>

                                    <option {% if behaviour.code == flow.behaviour_code %} selected {% endif %} value="{{ behaviour.code }}">
                                        {{ behaviour.name }}（{{ behaviour.way_code }}/{{ behaviour.way_value }}）
                                    </option>
                                {% endfor %}

                            </select>
                          </div>
                        </div>


                  <div class="form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12">分析进程 <span class="required" style="color: red;">*</span></label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="number" name="deploy_process_index" value="{{ flow.deploy_process_index }}"  class="form-control">
                            </div>
                        </div>

                  <div class="form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12">模型最大实例数 <span class="required" style="color: red;">*</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="number" name="max_concurrency" value="{{ flow.max_concurrency }}"  class="form-control">
                          </div>
                        </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">实例增长单位 <span class="required" style="color: red;">*</span></label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="number" name="concurrency_unit_length" value="{{ flow.concurrency_unit_length }}"  class="form-control">
                  </div>
                </div>

            <!--

               <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12">备注
                      </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <textarea required="required" name="remark" class="form-control col-md-7 col-xs-12">{{ flow.remark }}</textarea>

                      </div>
                </div>
                -->



                    <div class="form-group">
                      <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                        <button type="button" onclick="window.history.go(-1)" class="btn btn-default">返回</button>
                        <button type="button" onclick="f_submit()" class="btn btn-dark">提交</button>
                      </div>
                    </div>

                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}

<script>
    let handle = '{{ handle }}';// 操作类型 add 或 edit
    let mFlowCode= '{{ flow.code }}';// 业务算法编号
    let mFlowMode= '{{ flow.mode }}';// 业务算法模式
    let mFlowAlgorithmDetectCode = '{{ flow.algorithm_detect_code }}';
    let mFlowDetectClassNames = '{{ flow.detect_class_names }}';
    let mFlowAlgorithmDetect2Code = '{{ algorithm_detect2_code }}';
    let mFlowDetect2ClassNames = '{{ detect2_class_names }}';
    let mFlowAlgorithmClassifyCode = '{{ flow.algorithm_classify_code }}';
    let mFlowClassifyClassNames = '{{ flow.classify_class_names }}';
    let eleInputName= $("input[name='name']");
    let eleSelectFlow= $("#select_mode");// select 流程模式
    let eleInputDeployProcessIndex= $("input[name='deploy_process_index']");
    let eleInputMaxConcurrency= $("input[name='max_concurrency']");
    let eleInputConcurrencyUnitLength= $("input[name='concurrency_unit_length']");
    let eleTextareaRemark = $("textarea[name='remark']");
    //串行第1步检测算法
    let eleSelectAlgorithmDetect = $("#select_algorithm_detect");// select 检测算法
    let eleSelectDetectClassName = $("#select_detect_class_name");// select 检测算法目标
    //串行第2步检测算法
    let eleSelectAlgorithmDetect2 = $("#select_algorithm_detect2");// select 检测算法
    let eleSelectDetect2ClassName = $("#select_detect2_class_name");// select 检测算法目标
    //串行分类算法
    let eleSelectAlgorithmClassify = $("#select_algorithm_classify");// select 分类算法
    let eleSelectClassifyClassName = $("#select_classify_class_name");// select 分类算法目标
    //串行特征算法
    let eleSelectAlgorithmTrack = $("#select_algorithm_track");// select 特征算法
    //串行行为算法
    let eleSelectBehaviour = $("#select_behaviour");// select 行为算法
    //串行第1步检测算法
    let eleFlowBoxDetect = $("#flow_box_detect");
    let eleFlowBoxDetectClass = $("#flow_box_detect_class");
    //串行第2步检测算法
    let eleFlowBoxDetect2 = $("#flow_box_detect2");
    let eleFlowBoxDetect2Class = $("#flow_box_detect2_class");
    //串行分类算法
    let eleFlowBoxClassify = $("#flow_box_classify");
    let eleFlowBoxClassifyClass = $("#flow_box_classify_class");
    //串行特征算法
    let eleFlowBoxTrack = $("#flow_box_track");
    //串行行为算法
    let eleFlowBoxBehaviour = $("#flow_box_behaviour");

    function f_showDetectOptions(algorithm_code,selected_class_names) {
       console.log("f_showDetectOptions->",algorithm_code,"selected_class_names->",selected_class_names)

        let html = "<option value=\"0\">---请选择检测目标(可多选)---</option>";

        let algorithm = algorithmDetectDict[algorithm_code];
        if (algorithm === undefined){
            //不存在当前编号
        }else{

            //需要显示选择目标
            eleSelectDetectClassName.removeAttr("disabled");
            let model_class_names = algorithm["model_class_names"];
            let model_class_names_array = model_class_names.split(",");
            let selected_class_names_array = selected_class_names.split(",");
            for (let i = 0; i < model_class_names_array.length; i++) {
                let class_name = model_class_names_array[i];
                let match = selected_class_names_array.indexOf(class_name);
                if(match > -1){
                    html += "<option selected value=\""+class_name+"\">"+class_name+"</option>";
                }else{
                    html += "<option value=\""+class_name+"\">"+class_name+"</option>";
                }
            }
            //需要使用行为算法
            eleSelectBehaviour.removeAttr("disabled");

        }


        eleSelectDetectClassName.html(html);
    }
    function f_showDetect2Options(algorithm_code,selected_class_names) {
       console.log("f_showDetect2Options->",algorithm_code,"selected_class_names->",selected_class_names)

        let html = "<option value=\"0\">---请选择检测目标(可多选)---</option>";

        let algorithm = algorithmDetect2Dict[algorithm_code];
        if (algorithm === undefined){
            //不存在当前编号
        }else{

            //需要显示选择目标
            eleSelectDetect2ClassName.removeAttr("disabled");
            let model_class_names = algorithm["model_class_names"];
            let model_class_names_array = model_class_names.split(",");
            let selected_class_names_array = selected_class_names.split(",");
            for (let i = 0; i < model_class_names_array.length; i++) {
                let class_name = model_class_names_array[i];
                let match = selected_class_names_array.indexOf(class_name);
                if(match > -1){
                    html += "<option selected value=\""+class_name+"\">"+class_name+"</option>";
                }else{
                    html += "<option value=\""+class_name+"\">"+class_name+"</option>";
                }
            }
            //需要使用行为算法
            eleSelectBehaviour.removeAttr("disabled");

        }


        eleSelectDetect2ClassName.html(html);
    }
    function f_showClassifyOptions(algorithm_code,selected_class_names) {
        console.log("f_showClassifyOptions->",algorithm_code,"selected_class_names->",selected_class_names)
        let html = "<option value=\"0\">---请选择分类目标(可多选)---</option>";
        let algorithm = algorithmClassifyDict[algorithm_code];
        if (algorithm === undefined){
            //不存在当前编号
        }else{

            //需要显示选择目标
            eleSelectClassifyClassName.removeAttr("disabled");
            let model_class_names = algorithm["model_class_names"];
            let model_class_names_array = model_class_names.split(",");
            let selected_class_names_array = selected_class_names.split(",");
            for (let i = 0; i < model_class_names_array.length; i++) {
                let class_name = model_class_names_array[i];
                let match = selected_class_names_array.indexOf(class_name);
                if(match > -1){
                    html += "<option selected value=\""+class_name+"\">"+class_name+"</option>";
                }else{
                    html += "<option value=\""+class_name+"\">"+class_name+"</option>";
                }
            }
            //需要使用行为算法
            eleSelectBehaviour.removeAttr("disabled");

        }

        eleSelectClassifyClassName.html(html);
    }
    function f_showFlow(mode) {
        switch (mode) {
            case 1:{
                eleFlowBoxDetect.show();
                eleFlowBoxDetectClass.show();
                eleFlowBoxDetect2.hide();
                eleFlowBoxDetect2Class.hide();
                eleFlowBoxClassify.hide();
                eleFlowBoxClassifyClass.hide();
                eleFlowBoxTrack.hide();
                eleFlowBoxBehaviour.show();
                break;
            }
            case 2:{
                eleFlowBoxDetect.show();
                eleFlowBoxDetectClass.show();
                eleFlowBoxDetect2.hide();
                eleFlowBoxDetect2Class.hide();
                eleFlowBoxClassify.hide();
                eleFlowBoxClassifyClass.hide();
                eleFlowBoxTrack.show();
                eleFlowBoxBehaviour.show();
                break;
            }
            case 3:{
                eleFlowBoxDetect.show();
                eleFlowBoxDetectClass.show();
                eleFlowBoxDetect2.hide();
                eleFlowBoxDetect2Class.hide();
                eleFlowBoxClassify.show();
                eleFlowBoxClassifyClass.show();
                eleFlowBoxTrack.hide();
                eleFlowBoxBehaviour.show();
                break;
            }
            case 4:{
                eleFlowBoxDetect.hide();
                eleFlowBoxDetectClass.hide();
                eleFlowBoxDetect2.hide();
                eleFlowBoxDetect2Class.hide();
                eleFlowBoxClassify.show();
                eleFlowBoxClassifyClass.show();
                eleFlowBoxTrack.hide();
                eleFlowBoxBehaviour.show();
                break;
            }
            case 5:{
                eleFlowBoxDetect.hide();
                eleFlowBoxDetectClass.hide();
                eleFlowBoxDetect2.hide();
                eleFlowBoxDetect2Class.hide();
                eleFlowBoxClassify.hide();
                eleFlowBoxClassifyClass.hide();
                eleFlowBoxTrack.hide();
                eleFlowBoxBehaviour.show();
                break;
            }
            case 6:{
                eleFlowBoxDetect.show();
                eleFlowBoxDetectClass.show();
                eleFlowBoxDetect2.hide();
                eleFlowBoxDetect2Class.hide();
                eleFlowBoxClassify.show();
                eleFlowBoxClassifyClass.show();
                eleFlowBoxTrack.hide();
                eleFlowBoxBehaviour.show();
                break;
            }
            case 7:{
                eleFlowBoxDetect.show();
                eleFlowBoxDetectClass.show();
                eleFlowBoxDetect2.hide();
                eleFlowBoxDetect2Class.hide();
                eleFlowBoxClassify.show();
                eleFlowBoxClassifyClass.show();
                eleFlowBoxTrack.show();
                eleFlowBoxBehaviour.show();
                break;
            }
            case 8:{
                //（v4.702新增）
                eleFlowBoxDetect.show();
                eleFlowBoxDetectClass.show();
                eleFlowBoxDetect2.show();
                eleFlowBoxDetect2Class.show();
                eleFlowBoxClassify.hide();
                eleFlowBoxClassifyClass.hide();
                eleFlowBoxTrack.hide();
                eleFlowBoxBehaviour.show();
                break;
            }
            default:{
                //myAlert("不支持的流程模式","error");
                eleFlowBoxDetect.hide();
                eleFlowBoxDetectClass.hide();
                eleFlowBoxDetect2.hide();
                eleFlowBoxDetect2Class.hide();
                eleFlowBoxClassify.hide();
                eleFlowBoxClassifyClass.hide();
                eleFlowBoxTrack.hide();
                eleFlowBoxBehaviour.hide();
                break;
            }
        }
    }

    eleSelectFlow.change(function () {
        let mode = $(this).val().trim();
        if(mode==="0" || mode ===""){
            f_showFlow(0);
            return;
        }
        mode = parseInt(mode)
        f_showFlow(mode);
    });

    eleSelectAlgorithmDetect.change(function () {
        let code = $(this).val();
        if(code === mFlowAlgorithmDetectCode){
             f_showDetectOptions(code,mFlowDetectClassNames);
        }else{
             f_showDetectOptions(code,"");
        }
    });
    eleSelectAlgorithmDetect2.change(function () {
        let code = $(this).val();
        if(code === mFlowAlgorithmDetect2Code){
             f_showDetect2Options(code,mFlowDetect2ClassNames);
        }else{
             f_showDetect2Options(code,"");
        }
    });
    eleSelectAlgorithmClassify.change(function () {
        let code = $(this).val();
        if(code === mFlowAlgorithmClassifyCode){
             f_showClassifyOptions(code,mFlowClassifyClassNames);
        }else{
             f_showClassifyOptions(code,"");
        }
    });

    function f_calcuOptionStr(options_array) {
        let options_s = "";
        if(options_array===null){
            //不能为空
        }else{
            let temp = [];
            for (let i = 0; i < options_array.length; i++) {
                if("0"!==options_array[i]){
                    temp.push(options_array[i]);
                }
            }
            if(temp.length > 0) {
                options_s = temp.join(",");
            }
        }
        //console.log("options_array->",typeof options_array,options_array)
        //console.log("options_s->",typeof options_s,options_s)
        return options_s;
    }

    function f_submit() {
        let name_s = eleInputName.val().trim();
        if(name_s === ""){
            myAlert("请输入算法名称","error");
            return false;
         }
        let mode = eleSelectFlow.val().trim();
        if(mode==="0" || mode ===""){
            myAlert("请选择算法模式","error");
            return;
        }
        mode = parseInt(mode)
        let algorithmDetectCode = "";  //检测算法编号 typeof string
        let detectClassNames = "";     //检测算法的目标 例如: person,dog,cat,,,
        let algorithmDetect2Code = ""; //检测算法编号 typeof string
        let detect2ClassNames = "";    //检测算法的目标 例如: person,dog,cat,,,
        let algorithmClassifyCode = "";//分类算法编号 typeof string
         let classifyClassNames = "";  //分类算法的目标 例如: person,dog,cat,,,
        let algorithmTrackCode = "";   //跟踪算法编号 typeof string
        let behaviourCode = "";        //行为算法编号 typeof string

        switch (mode) {
            case 1:{
                //检测算法>>行为算法
                //检测算法
                algorithmDetectCode = eleSelectAlgorithmDetect.val().trim();
                if(algorithmDetectCode==="0"){
                    myAlert("请选择检测算法","error");
                    return;
                }
                //检测算法目标option
                detectClassNames = f_calcuOptionStr(eleSelectDetectClassName.val());// eleSelectDetectClassName.val();//typeof object, array
                if(detectClassNames === ""){
                    myAlert("请至少选择1个检测目标","error");
                    return;
                }
                //行为算法
                behaviourCode = eleSelectBehaviour.val().trim();//typeof string
                if(behaviourCode==="0"){
                    myAlert("请选择行为算法","error");
                    return;
                }
                break
            }
            case 2:{
                //检测算法>>特征算法>>行为算法
                //检测算法
                algorithmDetectCode = eleSelectAlgorithmDetect.val().trim();
                if(algorithmDetectCode==="0"){
                    myAlert("请选择检测算法","error");
                    return;
                }

                //检测算法目标option
                detectClassNames = f_calcuOptionStr(eleSelectDetectClassName.val());// eleSelectDetectClassName.val();//typeof object, array
                if(detectClassNames === ""){
                    myAlert("请至少选择1个检测目标","error");
                    return;
                }
                //特征算法
                algorithmTrackCode = eleSelectAlgorithmTrack.val().trim();
                if(algorithmTrackCode==="0"){
                    myAlert("请选择特征算法","error");
                    return;
                }

                //行为算法
                behaviourCode = eleSelectBehaviour.val().trim();//typeof string
                if(behaviourCode==="0"){
                    myAlert("请选择行为算法","error");
                    return;
                }

                break
            }
            case 3:{
                //检测算法>>分类算法>>行为算法
                //检测算法
                algorithmDetectCode = eleSelectAlgorithmDetect.val().trim();
                if(algorithmDetectCode==="0"){
                    myAlert("请选择检测算法","error");
                    return;
                }
                //检测算法目标option
                detectClassNames = f_calcuOptionStr(eleSelectDetectClassName.val());// eleSelectDetectClassName.val();//typeof object, array
                if(detectClassNames === ""){
                    myAlert("请至少选择1个检测目标","error");
                    return;
                }
                //分类算法
                algorithmClassifyCode= eleSelectAlgorithmClassify.val().trim();
                if(algorithmClassifyCode==="0"){
                    myAlert("请选择分类算法","error");
                    return;
                }
                //分类算法目标option
                classifyClassNames = f_calcuOptionStr(eleSelectClassifyClassName.val());
                if(classifyClassNames === ""){
                    myAlert("请至少选择1个分类目标","error");
                    return;
                }
                //行为算法
                behaviourCode = eleSelectBehaviour.val().trim();//typeof string
                if(behaviourCode==="0"){
                    myAlert("请选择行为算法","error");
                    return;
                }
                break
            }
            case 4:{
                //分类算法>>行为算法
                //分类算法
                algorithmClassifyCode= eleSelectAlgorithmClassify.val().trim();
                if(algorithmClassifyCode==="0"){
                    myAlert("请选择分类算法","error");
                    return;
                }
                //分类算法目标option
                classifyClassNames = f_calcuOptionStr(eleSelectClassifyClassName.val());
                if(classifyClassNames === ""){
                    myAlert("请至少选择1个分类目标","error");
                    return;
                }

                //行为算法
                behaviourCode = eleSelectBehaviour.val().trim();//typeof string
                if(behaviourCode==="0"){
                    myAlert("请选择行为算法","error");
                    return;
                }
                break
            }
            case 5:{
                //行为算法

                //行为算法
                behaviourCode = eleSelectBehaviour.val().trim();//typeof string
                if(behaviourCode==="0"){
                    myAlert("请选择行为算法","error");
                    return;
                }
                break
            }
            case 6:{
                //分类算法>>检测算法>>行为算法
                //分类算法
                algorithmClassifyCode= eleSelectAlgorithmClassify.val().trim();
                if(algorithmClassifyCode==="0"){
                    myAlert("请选择分类算法","error");
                    return;
                }
                //分类算法目标option
                classifyClassNames = f_calcuOptionStr(eleSelectClassifyClassName.val());
                if(classifyClassNames === ""){
                    myAlert("请至少选择1个分类目标","error");
                    return;
                }
                //检测算法
                algorithmDetectCode = eleSelectAlgorithmDetect.val().trim();
                if(algorithmDetectCode==="0"){
                    myAlert("请选择检测算法","error");
                    return;
                }
                //检测算法目标option
                detectClassNames = f_calcuOptionStr(eleSelectDetectClassName.val());// eleSelectDetectClassName.val();//typeof object, array
                if(detectClassNames === ""){
                    myAlert("请至少选择1个检测目标","error");
                    return;
                }

                //行为算法
                behaviourCode = eleSelectBehaviour.val().trim();//typeof string
                if(behaviourCode==="0"){
                    myAlert("请选择行为算法","error");
                    return;
                }
                break
            }
            case 7:{
                //检测算法>>分类算法>>特征算法>>行为算法
                //检测算法
                algorithmDetectCode = eleSelectAlgorithmDetect.val().trim();
                if(algorithmDetectCode==="0"){
                    myAlert("请选择检测算法","error");
                    return;
                }
                //检测算法目标option
                detectClassNames = f_calcuOptionStr(eleSelectDetectClassName.val());// eleSelectDetectClassName.val();//typeof object, array
                if(detectClassNames === ""){
                    myAlert("请至少选择1个检测目标","error");
                    return;
                }
                //分类算法
                algorithmClassifyCode= eleSelectAlgorithmClassify.val().trim();
                if(algorithmClassifyCode==="0"){
                    myAlert("请选择分类算法","error");
                    return;
                }
                //分类算法目标option
                classifyClassNames = f_calcuOptionStr(eleSelectClassifyClassName.val());
                if(classifyClassNames === ""){
                    myAlert("请至少选择1个分类目标","error");
                    return;
                }
                //特征算法
                algorithmTrackCode = eleSelectAlgorithmTrack.val().trim();
                if(algorithmTrackCode==="0"){
                    myAlert("请选择特征算法","error");
                    return;
                }

                //行为算法
                behaviourCode = eleSelectBehaviour.val().trim();//typeof string
                if(behaviourCode==="0"){
                    myAlert("请选择行为算法","error");
                    return;
                }

                break
            }
            case 8:{
                //检测算法>>检测算法>>行为算法
                //检测算法
                algorithmDetectCode = eleSelectAlgorithmDetect.val().trim();
                if(algorithmDetectCode==="0"){
                    myAlert("请选择检测算法","error");
                    return;
                }
                //检测算法目标option
                detectClassNames = f_calcuOptionStr(eleSelectDetectClassName.val());// eleSelectDetectClassName.val();//typeof object, array
                if(detectClassNames === ""){
                    myAlert("请至少选择1个检测目标","error");
                    return;
                }

                //第2步检测算法
                algorithmDetect2Code = eleSelectAlgorithmDetect2.val().trim();
                if(algorithmDetect2Code==="0"){
                    myAlert("请选择检测算法","error");
                    return;
                }
                //第2步检测算法目标option
                detect2ClassNames = f_calcuOptionStr(eleSelectDetect2ClassName.val());// eleSelectDetectClassName.val();//typeof object, array
                if(detect2ClassNames === ""){
                    myAlert("请至少选择1个检测目标","error");
                    return;
                }

                //行为算法判断
                behaviourCode = eleSelectBehaviour.val().trim();//typeof string
                if(behaviourCode==="0"){
                    myAlert("请选择行为算法","error");
                    return;
                }
                break
            }
            default: {
                //其他类型
                myAlert("请选择正确的算法流程模式","error");
                return;
            }
        }

        let deploy_process_index = parseInt(eleInputDeployProcessIndex.val());//分析进程序号
        let max_concurrency = parseInt(eleInputMaxConcurrency.val());
        let concurrency_unit_length = parseInt(eleInputConcurrencyUnitLength.val());

        let remark = eleTextareaRemark.val();
        
        if(remark===undefined){
            remark = "";
        }

        let data = {
            "handle":handle,
            "name":name_s,
            "mode":mode,
            "flow_code":mFlowCode,
            "algorithm_detect_code":algorithmDetectCode,
            "detect_class_names":detectClassNames,
            "algorithm_detect2_code":algorithmDetect2Code,
            "detect2_class_names":detect2ClassNames,
            "algorithm_classify_code":algorithmClassifyCode,
            "classify_class_names":classifyClassNames,
            "algorithm_track_code":algorithmTrackCode,
            "behaviour_code":behaviourCode,
            "deploy_process_index":deploy_process_index,
            "max_concurrency":max_concurrency,
            "concurrency_unit_length":concurrency_unit_length,
            "remark":remark
        }

        let handleUrl;
        if(handle === "add"){
            handleUrl = "/algorithmFlow/add";
        }else if(handle === "edit"){
            handleUrl = "/algorithmFlow/edit";
        }else{
            return;
        }

        $.ajax({
           url: handleUrl,
           type: "post",
           async: true,
           data: data,
           dataType: "json",
           timeout: 0,
           error: function () {
                myAlert("网络异常，请确定网络正常！","error");
           },
           success: function (res) {
               if(1000 === res.code){
                   myAlert(res.msg,"success",1000);

                  setTimeout(function () {
                      window.location.href= "/algorithmFlow/index";
                  }, 1000);

               }else{
                    myAlert(res.msg,"error");
               }
           }
        });

    }

    function f_docs() {
        let url= "{{ settings.docs.algorithmFlowAdd }}";
        window.open(url);
    }

    $(function() {
        if(handle==="add"){
            f_showFlow(0);
        }
        else if(handle==="edit"){
             let mode = parseInt(mFlowMode)
             f_showFlow(mode);
             f_showDetectOptions(mFlowAlgorithmDetectCode,mFlowDetectClassNames);
             f_showDetect2Options(mFlowAlgorithmDetect2Code,mFlowDetect2ClassNames);
             f_showClassifyOptions(mFlowAlgorithmClassifyCode,mFlowClassifyClassNames);
        }
    });
</script>

{% endblock javascripts %}
