{% extends "app/base_site.html" %}

{% block title %} 业务算法管理 {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
<style>
    /*导入弹窗*/
    input[type="file"]{
      color: #8d2f2f;
      font-size: 12px;
    }
    ::file-selector-button{
      font-size: 12px;
      color: #fff;
      border-radius: 4px;
      border: 1px solid #091f35;
      padding: 2px 4px;
      background-color: #091f35;
      cursor: pointer;
    }

</style>
{% endblock stylesheets %}

{% block content %}

  <div class="right_col" role="main">
    <div class="">
      <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
               <h2>业务算法管理
                    <span id="top_loading" ><img class="top_loading_img" src="/static/images/load.gif" alt="loading">加载中</span>
                    <button style="margin-left:5px;" onclick="f_docs()" class="btn btn-default btn-sm">文档</button>
                    <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#ImportFileDialog" ><i class="fa fa-plus"></i> 导入</button>
                   <span id="top_msg">{{top_msg}}</span>
  </h2>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">

                <!--<p><code>说明</code> 系统支持的业务算法</p>-->

                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                      <tr class="headings">
                        <th class="column-title">ID</th>
                        <th class="column-title">编号</th>
                        <th class="column-title">名称</th>
                        <th class="column-title">算法模式</th>
                          <th class="column-title">分析进程</th>
                          <th class="column-title">最大实例数</th>
                        <th class="column-title">时间</th>
                          <th class="column-title no-link last"><span class="nobr">操作</span></th>
                      </tr>
                    </thead>

                    <tbody>
                    {%  for d  in data %}
                      <tr class="even pointer">
                        <td>{{ d.id }}</td>
                        <td>{{ d.code }}</td>
                          <td>{{ d.name }}</td>
                          <td>{{ d.mode_name }}</td>
                          <td>{{ d.deploy_process_index }}</td>
                          <td>{{ d.max_concurrency }}</td>
                          <td>{{ d.last_update_time }}</td>
                          <td>
                              <div class="btn-group">
                              <button onclick="f_edit('{{ d.code }}')" class="btn btn-sm btn-default" type="button"><i class="fa fa-edit"></i> 编辑</button>
                              <button onclick="f_openExport('{{ d.code }}')" class="btn btn-sm btn-default" type="button"><i class="fa fa-share"></i> 导出</button>
                              <button onclick="f_openDel('{{ d.code }}')" class="btn btn-sm btn-default" type="button" data-placement="top" data-toggle="tooltip" data-original-title="删除"><i class="fa fa-remove"></i></button>
                            </div>
                        </td>
                      </tr>
                    {% endfor %}

                    </tbody>
                  </table>
                </div>


              </div>
            </div>
          </div>
      </div>

      <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <ul class="pagination">
                <li>
                    <span style="margin-right:10px;color:#000;">共<span>{{ pageData.page_num}}</span>页 / <span>{{pageData.count}}</span >条</span>
                </li>

                {%  for d  in pageData.pageLabels%}
                  {% if d.cur == 1 %}
                    <li class="paginate_button active"><a href="#"  >{{ d.name }}</a></li>
                  {% else %}
                    <li class="paginate_button "><a href="/algorithmFlow/index?p={{d.page}}&ps={{pageData.page_size}}" >{{ d.name }}</a></li>
                  {% endif %}
                {% endfor %}

              <!--
              <li class="paginate_button previous" ><a href="#" data-dt-idx="0" >上一页</a></li>
              <li class="paginate_button active"><a href="#" data-dt-idx="1" >1</a></li>

              <li class="paginate_button "><a href="#" data-dt-idx="2">2</a></li>
              <li class="paginate_button "><a href="#" data-dt-idx="3">3</a></li>
              <li class="paginate_button "><a href="#" data-dt-idx="4">4</a></li>
              <li class="paginate_button "><a href="#" data-dt-idx="5" >5</a></li>
              <li class="paginate_button "><a href="#" data-dt-idx="6" >6</a></li>
              <li class="paginate_button next"><a href="#" data-dt-idx="7" >下一页</a></li>
              -->
            </ul>

          </div>
       </div>

    <!--导入业务算法弹窗start -->
    <div id="ImportFileDialog" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title" >导入业务算法</h4>
          </div>
          <div class="modal-body">
            <div style="padding: 5px 20px;">
              <form class="form-horizontal calender" role="form">

                <div class="form-group">
                  <label class="col-sm-3 control-label">导入文件</label>
                  <div class="col-sm-9">
                    <input type="file" class="form-control" accept=".xcflow" name="file"  >
                  </div>
                </div>
                  <!--
                <div class="form-group">
                  <label class="col-sm-3 control-label">导入备注</label>
                  <div class="col-sm-9">
                    <textarea class="form-control" style="height:55px;" name="import_remark"></textarea>
                  </div>
                </div>
                  -->
              </form>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" onclick="f_openImport()" class="btn btn-dark">提交</button>
          </div>
        </div>
      </div>
    </div>
    <!--导入业务算法弹窗end -->
    </div>
  </div>

{% endblock content %}

{% block javascripts %}
  {{ block.super }}

<script>
    let ele_top_loading = $("#top_loading");
    let ele_top_msg= $("#top_msg");
    let eleFile = $("input[name='file']");
    //let eleTextareaImportRemark= $("textarea[name='import_remark']");

    function f_docs() {
        let url= "{{ settings.docs.algorithmFlowAdd }}";
        window.open(url);
    }
    function f_openDel(code){
        ele_top_loading.show();
        $.ajax({
               url: '/algorithmFlow/openDel',
               type: "post",
               async: true,
               data: {"code":code},
               dataType: "json",
               timeout: 0,
               error: function () {
                   ele_top_loading.hide();
                   myAlert("网络异常，请确定网络正常！","error");
               },
               success: function (res) {
                      ele_top_loading.hide();
                   if(1000 === res.code){
                        window.location.reload();
                   }else{
                        myAlert(res.msg,"error");
                   }
               }
            });

    }
    function f_edit(code) {
        let url = "/algorithmFlow/edit?code="+code;
        window.location.href = url;
    }
    function f_openExport(code) {
        //导出业务算法
        ele_top_loading.show();
        $.ajax({
           url: "/algorithmFlow/openExport",
           type: "post",
           async: true,
           data: {"code":code},
           dataType: "json",
           timeout: 0,
           error: function () {
               ele_top_loading.hide();
               myAlert("网络异常，请确定网络正常！","error");
           },
           success: function (res) {
               ele_top_loading.hide();
               if(res.code === 1000){
                    let info = res.info;
                    let export_filename = info["export_filename"]
                    let download_url = "/storage/download?filename="+export_filename;
                    window.open(download_url);
               }else{
                    myAlert(res.msg,"error");
               }
           }
        });

    }
    function f_openImport() {
        //导入业务算法
        if (eleFile[0].files.length > 0){
          let file = eleFile[0].files[0];
           //let importRemark = eleTextareaImportRemark.val().trim();

          let fs_name = file.name;
          let fs_size = file.size;//文件字节大小
          let fs_size_m = parseInt(fs_size / 1024 / 1024); //换算成M单位

          if (fs_size_m <= 200){
                let formData = new FormData();
                formData.append('file',file)
                //formData.append('importRemark',importRemark)

                $.ajax({
                  url:'/algorithmFlow/openImport',
                  type:'post',
                  async: true,
                  contentType:false,
                  processData:false,
                  data:formData,
                  dataType: "json",
                  timeout: 0,
                  error: function () {
                    myAlert("网络异常，请确定网络正常！","error");
                  },
                  success: function (res) {
                    if (1000 === res.code) {
                        myAlert(res.msg,"success");
                        // data-toggle="modal" data-target="#ImportFileDialog"
                        //$("#ImportFileDialog").modal("show");
                        $("#ImportFileDialog").modal("hide");
                          myAlert(res.msg,"success",1000);
                           setTimeout(function () {
                              window.location.reload();
                           }, 1000);

                    }else{
                        myAlert(res.msg,"error");
                    }
                  }
                });
          }else{
               myAlert("上传文件大小不能超过200M！","error");
          }
        }else{
            myAlert("未选择上传文件！","error");
        }
        return false;
    }
</script>

{% endblock javascripts %}

