{% extends "app/base_site.html" %}

{% block title %} 单屏播放器 {% endblock title %}

{% block stylesheets %}
{{ block.super }}

{% endblock stylesheets %}

{% block content %}
<style>
      #input_address {
            -webkit-appearance: none;
            background-color: #fff;
            background-image: none;
            border-radius: 4px;
            border: 1px solid #dcdfe6;
            box-sizing: border-box;
            font-size: 13px;
            font-weight: normal;
            height: 35px;
            line-height: 35px;
            width: 400px;
            margin-left: 15px;
            padding: 1px 10px;
            transition: border-color .2s cubic-bezier(.645,.045,.355,1);
      }
        .control-panel {
            margin-top: 20px;
            display: grid;
            grid-template-columns: repeat(3, 40px);
            grid-template-rows: repeat(3, 40px);
            gap: 10px;
        }
        .control-panel>button {
            width: 40px;
            height: 40px;
            font-size: 20px;
            cursor: pointer;
        }
        .zoom-control {
            margin-top: 10px;
            margin-left: 25px;
        }
        .zoom-control>button {
            width: 40px;
            height: 40px;
            font-size: 14px;
            font-weight: bold;
            cursor: pointer;
        }
        .snap-control {
            margin-top: 10px;
            margin-left: 25px;
        }
        .snap-control > .video_is_recording{
            background: #0d95e8;
        }
        .snap-control>button {
            width: 40px;
            height: 40px;
            font-size: 14px;
            font-weight: bold;
            cursor: pointer;
        }
        .ptz-button-gray{
            color: #aca3a3;
        }
    </style>
  <div class="right_col" role="main">
    <div class="">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
                  <label>
                      <input id="input_address" type="text" placeholder="请输入播放地址（支持ws-fmp4/http-fmp4）">
                  </label>
                  <button style="margin-left: 10px;"  type="button" class="btn btn-success btn-sm" onclick="f_clickPlayStart()">播放</button>
                  <button type="button" class="btn btn-default btn-sm" onclick="f_clickPlayStop()">停止</button>

                 <!--
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                  </ul>
                  -->

                  <div class="clearfix"></div>
            </div>

            <div class="x_content">
               <div class="col-md-10 col-sm-10 col-xs-12">
                    <div id="video_player" style="background-color: black;min-height: 500px;"></div>
               </div>
               <div class="col-md-2 col-sm-2 col-xs-12" >
                          <div class="control-panel">
                            <!-- 上 -->
                            <button class="ptz-button" onmousedown="f_openPtz(3,250)" onmouseup="f_openPtz(0,0)" style="grid-column: 2 / 3; grid-row: 1 / 2;"><i class="fa fa-chevron-up"></i></button>
                            <!-- 左 -->
                            <button class="ptz-button"  onmousedown="f_openPtz(5,250)" onmouseup="f_openPtz(0,0)" style="grid-column: 1 / 2; grid-row: 2 / 3;"><i class="fa fa-chevron-left"></i></button>
                            <!-- 中间 -->
                            <button class="ptz-button"  style="grid-column: 2 / 3; grid-row: 2 / 3;">○</button>
                            <!-- 右 -->
                            <button class="ptz-button"  onmousedown="f_openPtz(1,250)" onmouseup="f_openPtz(0,0)"  style="grid-column: 3 / 4; grid-row: 2 / 3;"><i class="fa fa-chevron-right"></i></button>
                            <!-- 下 -->
                            <button class="ptz-button"  onmousedown="f_openPtz(7,250)" onmouseup="f_openPtz(0,0)"  style="grid-column: 2 / 3; grid-row: 3 / 4;"><i class="fa fa-chevron-down"></i></button>
                        </div>
                        <div style="margin-top: 20px;" class="zoom-control">
                            <button class="ptz-button"  onmousedown="f_openPtz(9,200)" onmouseup="f_openPtz(0,0)" title="调焦">Z+</button>
                            <button class="ptz-button"  onmousedown="f_openPtz(9,-200)" onmouseup="f_openPtz(0,0)"  title="调焦">Z-</button>
                        </div>
                        <div class="zoom-control">
                            <button class="ptz-button"  onmousedown="f_openPtz(11,200)" onmouseup="f_openPtz(0,0)"  title="聚焦">F+</button>
                            <button class="ptz-button"  onmousedown="f_openPtz(11,-200)" onmouseup="f_openPtz(0,0)"  title="聚焦">F-</button>
                        </div>
                       <div class="zoom-control">
                            <button class="ptz-button"  onmousedown="f_openPtz(10,250)" onmouseup="f_openPtz(0,0)"  title="光圈">I+</button>
                            <button class="ptz-button"  onmousedown="f_openPtz(10,-250)" onmouseup="f_openPtz(0,0)"  title="光圈">I-</button>
                        </div>
                         <div class="snap-control">
                            <button id="handle_snapshot" ><i class="fa fa-camera"></i></button>
                            <button id="handle_record" ><i class="fa fa-video-camera"></i></button>
                        </div>

               </div>


              <div class="col-md-12 col-sm-12 col-xs-12">

                 <div class="form-horizontal form-label-left">

                    {% if stream.is_online %}
                        <p style="margin-top:10px;font-size: 16px;">视频流支持的所有转发协议</p>
                        <p>{{ stream.wsMp4Url }}</p>
                        <!--<p>{{ stream.wsFlvUrl }}</p>-->
                        <p>{{ stream.httpMp4Url }}</p>
                        <!--<p>{{ stream.httpFlvUrl }}</p>-->
                        <p>{{ stream.rtspUrl }}</p>
                     {% endif %}
                  </div>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
<script src="/static/lib/easyPlayer/js/easyplayer-pro.js"></script>
<script>
    let stream_app = "{{ stream.app }}";
    let stream_name = "{{ stream.name }}";
    let stream_code = "{{ stream.code }}";
    let stream_pull_stream_type = parseInt("{{ stream.pull_stream_type }}");
    let stream_is_online = parseInt("{{ stream.is_online }}")

    let eleInputAddress= $("#input_address");
    let eleHandleSnapshot = $("#handle_snapshot");
    let eleHandleRecord = $("#handle_record");
    let mCurrentIsRecording = false;
    let eleVideoPlayer = document.querySelector('#video_player');
    let ePlayer = null;

    if(stream_pull_stream_type === 21){
        //gb28181的设备
    }else{
        //非gb28181的设备
        $(".ptz-button").addClass("ptz-button-gray");
    }
    function f_createEPlayer() {
        ePlayer = new EasyPlayerPro({
            container: eleVideoPlayer,
            videoBuffer: 0.1, // 缓存时长
            videoBufferDelay: Number(3), // 1000s 达到延迟重播(s)
            decoder: '/static/lib/easyPlayer/js/decoder-pro.js',
            isResize: true,
            loadingText: "加载中",
            debug: false,
            debugLevel: "debug",
            useMSE: true,
            useSIMD: false,
            useWCS: true,
            hasAudio: true,
            websocket1006ErrorReplay: true,
            networkDelayTimeoutReplay: true,
            useMThreading: true,
            showBandwidth: true, // 显示网速
            showPerformance: true, // 显示性能
            operateBtns: {
                fullscreen: true,
                screenshot: true,
                play: true,
                audio: true,
                ptz: false,
                quality: false,
                performance: true,
                screenshotFn: f_screenshotFn,
            },
            background: "/static/images/player_poster.jpg",
            timeout: 10,
            qualityConfig: ['普清', '高清', '超清'],
            forceNoOffscreen: true,
            isNotMute: false,
            heartTimeout: Number(7),//超出时间无数据重连(s)
            ptzClickType: 'mouseDownAndUp',
            ptzZoomShow: true,
            ptzMoreArrowShow: true,
            ptzApertureShow: true,
            ptzFocusShow: true,
            pauseAndNextPlayUseLastFrameShow: true,
            heartTimeoutReplayUseLastFrameShow: true,
            replayUseLastFrameShow: true, // 重播使用上一帧显示
            fullscreenWatermarkConfig: {
                text: "", //水印
            }
        });
    }
    const f_screenshotFn = () => {
        if (ePlayer) {
            ePlayer.screenshotWatermark({
                text: {
                    content: ``,//水印
                    fontSize: '46',
                    color: 'rgba(100,100,100,.6)',
                },
                opacity: 0.8,
                right: 20,
                top: 50,
            });
        }
    };
    function f_playStart(video_url) {
        if(video_url === "" || typeof video_url === "undefined"){
            myAlert("请输入播放地址（支持ws-fmp4/http-fmp4）！","error");
            return false;
        }
        if(!video_url.endsWith(".mp4")){
            myAlert("视频流地址格式不正确！","error");
            return false;
        }
        if(video_url.startsWith("ws://") || video_url.startsWith("http://")){
            if (ePlayer) {
                ePlayer.destroy().then(() => {
                    f_createEPlayer();
                    ePlayer.play(video_url);
                });
            } else {
                f_createEPlayer();
                ePlayer.play(video_url);
            }
        }else{
             myAlert("视频流地址格式不正确！","error");
             return false;
        }
    }

    function f_playStop() {
        if(ePlayer){
            //ePlayer.pause();
            ePlayer.destroy();
        }
    }

    function f_clickPlayStart() {
        let video_url = eleInputAddress.val().trim();
        f_playStart(video_url);
    }
	function f_clickPlayStop() {
        f_playStop();
    }
    function f_openPtz(ptzType,val){
        if(stream_pull_stream_type === 21){

        }else {
            return
        }

        $.ajax({
           url: "/stream/openPtz",
           type: "post",
           async: true,
           data: {"code":stream_code,"ptzType":ptzType,"val":val},
           dataType: "json",
           timeout: 0,
           error: function () {
               myAlert("网络异常，请确定网络正常！","error");
           },
           success: function (res) {
               if(1000 === res.code){
                   //myAlert(res.msg,"success");
               }else{
                    //myAlert(res.msg,"error");
               }
           }
        });

    }
    function f_getVideoIsRecording() {
        $.ajax({
               url: "/nvr/getVideoIsRecording",
               type: "get",
               async: true,
               data: {"app":stream_app,"name":stream_name},
               dataType: "json",
               timeout: 0,
               error: function () {
                   myAlert("网络异常，请确定网络正常！","error");
               },
               success: function (res) {
                   if(1000 === res.code){
                       eleHandleRecord.addClass("video_is_recording")
                        mCurrentIsRecording = true;
                   }
               }
            });
    }
    eleHandleSnapshot.click(function () {
        $.ajax({
           url: "/nvr/postSnapShot",
           type: "post",
           async: true,
           data: {"app":stream_app,"name":stream_name},
           dataType: "json",
           timeout: 0,
           error: function () {
               myAlert("网络异常，请确定网络正常！","error");
           },
           success: function (res) {
               if(1000 === res.code){
                       let info = res.info;

                       let snapshot_ret = info["snapshot_ret"]
                       let snapshot_msg = info["snapshot_msg"]
                       if(snapshot_ret===true){
                           let snapshot_filename = info["snapshot_filename"] //绝对路径
                           let download_url = "/storage/download?filename="+snapshot_filename;
                           window.open(download_url);
                       }else{
                           myAlert(snapshot_msg,"error");
                       }
               }else{
                    myAlert(res.msg,"error");
               }
           }
        });
    })
    eleHandleRecord.click(function () {
        //开启录像和停止录像
        //console.log("stream_app->",typeof stream_app,stream_app)
        //console.log("stream_name->",typeof stream_name,stream_name)

        if(mCurrentIsRecording){
            //当前正在录制中，接下来执行停止录像
            $.ajax({
               url: "/nvr/postStopRecordVideo",
               type: "post",
               async: true,
               data: {"app":stream_app,"name":stream_name},
               dataType: "json",
               timeout: 0,
               error: function () {
                   myAlert("网络异常，请确定网络正常！","error");
               },
               success: function (res) {
                   if(1000 === res.code){
                       eleHandleRecord.removeClass("video_is_recording")

                       mCurrentIsRecording = false;
                       let info = res.info;

                       let record_ret = info["record_ret"]
                       let record_msg = info["record_msg"]
                       if(record_ret===true){
                           let record_video_filename = info["record_video_filename"]
                           let download_url = "/storage/download?filename="+record_video_filename;
                           window.open(download_url);
                       }else{
                           myAlert(record_msg,"error");
                       }
                   }else{
                        myAlert(res.msg,"error");
                   }
               }
            });

        }else{
            //当前未录制，接下来开启录像
            $.ajax({
               url: "/nvr/postStartRecordVideo",
               type: "post",
               async: true,
               data: {"app":stream_app,"name":stream_name},
               dataType: "json",
               timeout: 0,
               error: function () {
                   myAlert("网络异常，请确定网络正常！","error");
               },
               success: function (res) {
                   if(1000 === res.code){
                       eleHandleRecord.addClass("video_is_recording")
                        mCurrentIsRecording = true;

                   }else{
                        myAlert(res.msg,"error");
                   }
               }
            });
        }
    });
    
    $(function() {
        if(stream_is_online === 1){
            let is_online = parseInt("{{ stream.is_online }}");
            let video_codec_name = "{{ stream.video_codec_name }}";
            let video_width = parseInt("{{ stream.video_width }}");
            let video_height = parseInt("{{ stream.video_height }}");
            let app = "{{ stream.app }}";
            let name = "{{ stream.name }}";
            let wsHost = "{{ stream.wsHost }}";
            let wsMp4Url = "{{ stream.wsMp4Url }}";
            //let httpMp4Url = "{{ stream.httpMp4Url }}";
            //let rtspUrl = "{{ stream.rtspUrl }}";

            let video_url = wsMp4Url
            eleInputAddress.val(video_url);
            f_playStart(video_url);
        }
        f_getVideoIsRecording();
    });
</script>

{% endblock javascripts %}
